.moderation-handling-admin,
.moderation-handling-admin * {
  box-sizing: border-box;
}
.moderation-handling-admin {
  background: #f5f5f5;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.moderation-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 414px;
  position: absolute;
  left: 24px;
  top: 88px;
}
.frame-1707482021 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.moderation {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 62px;
  font-weight: 700;
  position: relative;
}
.navigation {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 781px;
  position: absolute;
  left: 422px;
  top: 42px;
}
.frame-1707482016 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sections {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.profile {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.dashboard {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.group {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.workout-log {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.schedule {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.challenges {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.posts {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.logout-button {
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 209px;
  position: absolute;
  left: 1229px;
  top: 39px;
}
.rectangle-14 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 168px;
  height: 46px;
  position: relative;
  overflow: visible;
}
.vector {
  margin: 0 0 0 -39px;
  flex-shrink: 0;
  width: 25.42px;
  height: 12.48px;
  position: absolute;
  left: 105px;
  top: 17px;
  overflow: visible;
}
.frame-1707482009 {
  margin: 0 0 0 -39px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 25px;
  top: 3px;
}
.logout {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.logo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 373px;
  position: absolute;
  left: 32px;
  top: 5px;
}
.logo2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo3 {
  flex-shrink: 0;
  width: 93px;
  height: 93px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.rectangle-25 {
  background: linear-gradient(
    90deg,
    rgba(46, 65, 158, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  flex-shrink: 0;
  width: 244px;
  height: 12px;
  position: relative;
}
.edit {
  background: #c9f0ff;
  border-radius: 50px;
  padding: 8px 60px 7px 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 169px;
  height: 44px;
  position: absolute;
  left: 460px;
  top: 492px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.edit2 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.delete {
  background: #c9f0ff;
  border-radius: 50px;
  padding: 7px 39px 8px 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 169px;
  height: 44px;
  position: absolute;
  left: 460px;
  top: 556px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.delete2 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.data-type {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 129px;
  position: absolute;
  left: 38px;
  top: 389px;
}
.posts2 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.post-ids {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.info-2 {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 392px;
  position: absolute;
  left: 40px;
  top: 492px;
}
.frame-17074820162 {
  background: rgba(217, 217, 217, 0.37);
  align-self: stretch;
  flex-shrink: 0;
  height: 47px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.id-number {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 9px;
  width: 111px;
}
.frame-1707482017 {
  background: rgba(217, 217, 217, 0.37);
  align-self: stretch;
  flex-shrink: 0;
  height: 47px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.id-number2 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 13px;
  top: 9px;
  width: 111px;
}
.frame-1707482018 {
  background: rgba(217, 217, 217, 0.37);
  align-self: stretch;
  flex-shrink: 0;
  height: 47px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-1707482019 {
  background: rgba(217, 217, 217, 0.37);
  align-self: stretch;
  flex-shrink: 0;
  height: 47px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-1707482020 {
  background: rgba(217, 217, 217, 0.37);
  align-self: stretch;
  flex-shrink: 0;
  height: 47px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.deny-button {
  background: #c9f0ff;
  border-radius: 50px;
  padding: 4px 51px 11px 54px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 169px;
  height: 44px;
  position: absolute;
  left: 1222px;
  top: 554px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.deny {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.frame-36 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 413px;
  position: absolute;
  left: 1014px;
  top: 966px;
}
.deny-button2 {
  background: #c9f0ff;
  border-radius: 50px;
  padding: 4px 51px 11px 54px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 44px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.go-to-configurations-policies {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.approve-button {
  background: #c9f0ff;
  border-radius: 50px;
  padding: 4px 34px 11px 34px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 169px;
  height: 44px;
  position: absolute;
  left: 1222px;
  top: 494px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.approve {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.info-22 {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 482px;
  position: absolute;
  left: 700px;
  top: 446px;
}
.post-content {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-17074820163 {
  background: rgba(217, 217, 217, 0.37);
  align-self: stretch;
  flex-shrink: 0;
  height: 349px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.id-number3 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 371px;
  top: 319px;
  width: 111px;
}
.moderation-choices {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1397px;
  position: absolute;
  left: 30px;
  top: 201px;
}
.frame-34 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  row-gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-17074820172 {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-2 {
  flex-shrink: 0;
  width: 111.03px;
  height: 30px;
  position: static;
}
.rectangle-7 {
  border-radius: 0px;
  width: 111.03px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.admin {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 18.5px;
  top: 3px;
  width: 73.04px;
  height: 24px;
}
.group-9 {
  flex-shrink: 0;
  width: 111.03px;
  height: 30px;
  position: static;
}
.rectangle-72 {
  border-radius: 0px;
  width: 111.03px;
  height: 30px;
  position: absolute;
  left: 146.03px;
  top: 0px;
  overflow: visible;
}
.post {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 178px;
  top: 3px;
  width: 73.04px;
  height: 24px;
}
.group-4 {
  flex-shrink: 0;
  width: 111.03px;
  height: 30px;
  position: static;
}
.rectangle-73 {
  border-radius: 0px;
  width: 111.03px;
  height: 30px;
  position: absolute;
  left: 292.05px;
  top: 0px;
  overflow: visible;
}
.user {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 326.05px;
  top: 3px;
  width: 73.04px;
  height: 24px;
}
.group-3 {
  flex-shrink: 0;
  width: 162.12px;
  height: 30px;
  position: static;
}
.rectangle-74 {
  border-radius: 0px;
  width: 162.12px;
  height: 30px;
  position: absolute;
  left: 438.08px;
  top: 0px;
  overflow: visible;
}
.group-admin {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 448.08px;
  top: 3px;
  width: 145px;
  height: 24px;
}
.group-5 {
  flex-shrink: 0;
  width: 125.28px;
  height: 30px;
  position: static;
}
.rectangle-75 {
  border-radius: 0px;
  width: 122px;
  height: 30px;
  position: absolute;
  left: 635.2px;
  top: 0px;
  overflow: visible;
}
.workouts {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 646.2px;
  top: 3px;
  width: 114.28px;
  height: 24px;
}
.group-6 {
  flex-shrink: 0;
  width: 116px;
  height: 30px;
  position: static;
}
.rectangle-76 {
  border-radius: 0px;
  width: 116px;
  height: 30px;
  position: absolute;
  left: 795.48px;
  top: 0px;
  overflow: visible;
}
.group2 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 822.48px;
  top: 3px;
  width: 73.04px;
  height: 24px;
}
.group-7 {
  flex-shrink: 0;
  width: 181px;
  height: 30px;
  position: static;
}
.rectangle-77 {
  border-radius: 0px;
  width: 181px;
  height: 30px;
  position: absolute;
  left: 946.48px;
  top: 0px;
  overflow: visible;
}
.group-workout {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 958.03px;
  top: 3px;
  width: 167px;
  height: 24px;
}
.group-8 {
  flex-shrink: 0;
  width: 197px;
  height: 30px;
  position: static;
}
.rectangle-78 {
  border-radius: 0px;
  width: 171px;
  height: 30px;
  position: absolute;
  left: 1162.48px;
  top: 0px;
  overflow: visible;
}
.challenges2 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1192.48px;
  top: 3px;
  width: 167px;
  height: 24px;
}
.admin-name {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 144px;
  height: 72px;
}
.id-content {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 128px;
}
.id-first-name-last-name {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 169px;
}
.id-first-name-last-name-permissions {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 169px;
}
.id-notes {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 169px;
}
.id-name-description-status-group-admin {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 169px;
}
.id-title-description {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 169px;
}
.id-title {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 169px;
  height: 114.07px;
}
