.workout-logging-admin,
.workout-logging-admin * {
  box-sizing: border-box;
}
.workout-logging-admin {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.workout-log-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 485px;
  position: absolute;
  left: 37px;
  top: 110px;
}
.workout-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1707482017 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.workout-log {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: relative;
}
.performance-info {
  padding: 55px 50px 55px 50px;
  display: flex;
  flex-direction: column;
  gap: 49px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 555px;
  height: 610px;
  position: absolute;
  left: 852px;
  top: 277px;
}
.frame-1707482020 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-24 {
  background: #f5f5f5;
  border-radius: 10px;
  flex-shrink: 0;
  width: 535px;
  height: 590px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.performance-metrics {
  color: #202020;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
}
.performance-input {
  flex-shrink: 0;
  width: 269px;
  height: 242px;
  position: static;
}
.reps {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 73px;
  top: 246px;
}
.sets {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 73px;
  top: 161px;
}
.weights {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 50px;
  top: 331px;
}
.rectangle-13 {
  background: rgba(163, 149, 149, 0.25);
  width: 76px;
  height: 58px;
  position: absolute;
  left: 243px;
  top: 153px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-17 {
  background: rgba(163, 149, 149, 0.25);
  width: 76px;
  height: 58px;
  position: absolute;
  left: 243px;
  top: 245px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-18 {
  background: rgba(163, 149, 149, 0.25);
  width: 76px;
  height: 58px;
  position: absolute;
  left: 243px;
  top: 337px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.wokrout-detials {
  padding: 45px 42px 45px 42px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 762px;
  height: 610px;
  position: absolute;
  left: 44px;
  top: 277px;
}
.frame-1707482019 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 762px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-23 {
  background: #f5f5f5;
  border-radius: 10px;
  align-self: stretch;
  flex-shrink: 0;
  height: 590px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.workout-details {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
}
.workout-input {
  flex-shrink: 0;
  width: 644px;
  height: 401px;
  position: static;
}
.exercise-name {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 231px;
}
.muscle-group {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 489px;
}
.difficulty-level {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 408px;
}
.duration-minutes {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 317px;
}
.rectangle-16 {
  background: rgba(163, 149, 149, 0.25);
  width: 195px;
  height: 52px;
  position: absolute;
  left: 491px;
  top: 142px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-19 {
  background: rgba(163, 149, 149, 0.25);
  width: 195px;
  height: 52px;
  position: absolute;
  left: 491px;
  top: 230px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-20 {
  background: rgba(163, 149, 149, 0.25);
  width: 195px;
  height: 52px;
  position: absolute;
  left: 491px;
  top: 314px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-21 {
  background: rgba(163, 149, 149, 0.25);
  width: 195px;
  height: 52px;
  position: absolute;
  left: 491px;
  top: 407px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-22 {
  background: rgba(163, 149, 149, 0.25);
  width: 195px;
  height: 52px;
  position: absolute;
  left: 491px;
  top: 491px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.date {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 142px;
}
.navigation {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 801px;
  position: absolute;
  left: 412px;
  top: 32px;
}
.frame-1707482024 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.navigation2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sections {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.profile {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.dashboard {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.group {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.workout-log2 {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.schedule {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.challenges {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.posts {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.logout-button {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 188px;
  position: absolute;
  left: 1219px;
  top: 29px;
}
.logout-b-utton {
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.rectangle-14 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 168px;
  height: 46px;
  position: relative;
  overflow: visible;
}
.vector {
  margin: 0 0 0 -39px;
  flex-shrink: 0;
  width: 25.42px;
  height: 12.48px;
  position: absolute;
  left: 105px;
  top: 17px;
  overflow: visible;
}
.frame-1707482009 {
  margin: 0 0 0 -39px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 25px;
  top: 3px;
}
.logout {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.logo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 373px;
  position: absolute;
  left: 32px;
  top: 5px;
}
.logo2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo3 {
  flex-shrink: 0;
  width: 93px;
  height: 93px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.rectangle-25 {
  background: linear-gradient(
    90deg,
    rgba(46, 65, 158, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  flex-shrink: 0;
  width: 244px;
  height: 12px;
  position: relative;
}
.include-in-challenge-drop-down {
  position: absolute;
  inset: 0;
}
.include-in-challenge {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 955px;
  top: 206px;
}
.rectangle {
  background: #d9d9d9;
  width: 166px;
  height: 35px;
  position: absolute;
  left: 1179px;
  top: 200px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.none {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1191px;
  top: 206px;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1309px;
  top: 200px;
}
.submit-button {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 184px;
  height: 57px;
  position: absolute;
  left: 628px;
  top: 924px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.submit {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 659px;
  top: 933px;
}
