.challenge-configuration-admin,
.challenge-configuration-admin * {
  box-sizing: border-box;
}
.challenge-configuration-admin {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.challenge-text {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 15px;
  top: 108px;
}
.challenge-configuration {
  color: #383b47;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 62px;
  font-weight: 700;
  position: relative;
}
.info-bar {
  position: absolute;
  inset: 0;
}
.rectangle {
  background: #f5f5f5;
  width: 1477px;
  height: 49px;
  position: absolute;
  left: -8px;
  top: 273px;
}
.edit {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1138px;
  top: 279px;
}
.delete {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1260px;
  top: 280px;
}
.group {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 119px;
  top: 281px;
}
.challenge {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 497px;
  top: 278px;
}
.rectangle-52 {
  background: #d9d9d9;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 32px;
  top: 280px;
}
.member-participation {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 749px;
  top: 279px;
}
.search-challenges {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 49px;
  top: 222px;
}
.search-challenge {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.image-10 {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 767px;
  position: absolute;
  left: 432px;
  top: 52px;
}
.sections {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.profile {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.dashboard {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.group2 {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.workout-log {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.schedule {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.challenges {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.posts {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.logout-button {
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 209px;
  position: absolute;
  left: 1229px;
  top: 39px;
}
.rectangle-14 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 168px;
  height: 46px;
  position: relative;
  overflow: visible;
}
.vector {
  margin: 0 0 0 -39px;
  flex-shrink: 0;
  width: 25.42px;
  height: 12.48px;
  position: absolute;
  left: 105px;
  top: 17px;
  overflow: visible;
}
.frame-1707482009 {
  margin: 0 0 0 -39px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  left: 25px;
  top: 3px;
}
.logout {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 42px;
  top: 15px;
}
.logo2 {
  flex-shrink: 0;
  width: 93px;
  height: 93px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.rectangle-25 {
  background: linear-gradient(
    90deg,
    rgba(46, 65, 158, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  flex-shrink: 0;
  width: 244px;
  height: 12px;
  position: relative;
}
.delete-buttons {
  position: absolute;
  inset: 0;
}
.rectangle-89 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 107px;
  height: 32px;
  position: absolute;
  left: 1250px;
  top: 359px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.delete2 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1270px;
  top: 363px;
}
.rectangle-100 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 107px;
  height: 32px;
  position: absolute;
  left: 1250px;
  top: 428px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.delete3 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1270px;
  top: 432px;
}
.rectangle-101 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 107px;
  height: 32px;
  position: absolute;
  left: 1250px;
  top: 497px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.delete4 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1270px;
  top: 501px;
}
.rectangle-102 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 107px;
  height: 32px;
  position: absolute;
  left: 1250px;
  top: 566px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.delete5 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1270px;
  top: 570px;
}
.rectangle-103 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 107px;
  height: 32px;
  position: absolute;
  left: 1250px;
  top: 638px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.delete6 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1270px;
  top: 642px;
}
.rectangle-104 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 107px;
  height: 32px;
  position: absolute;
  left: 1250px;
  top: 707px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.delete7 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1270px;
  top: 711px;
}
.rectangle-105 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 107px;
  height: 32px;
  position: absolute;
  left: 1250px;
  top: 776px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.delete8 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1270px;
  top: 780px;
}
.rectangle-106 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 107px;
  height: 32px;
  position: absolute;
  left: 1250px;
  top: 845px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.delete9 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1270px;
  top: 849px;
}
.rectangle-107 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 107px;
  height: 32px;
  position: absolute;
  left: 1250px;
  top: 918px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.delete10 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1270px;
  top: 922px;
}
.edit-buttons {
  position: absolute;
  inset: 0;
}
.rectangle-91 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 88px;
  height: 32px;
  position: absolute;
  left: 1124px;
  top: 358px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-92 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 88px;
  height: 32px;
  position: absolute;
  left: 1124px;
  top: 428px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-93 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 88px;
  height: 32px;
  position: absolute;
  left: 1124px;
  top: 498px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-94 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 88px;
  height: 32px;
  position: absolute;
  left: 1124px;
  top: 568px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-95 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 88px;
  height: 32px;
  position: absolute;
  left: 1124px;
  top: 638px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-96 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 88px;
  height: 32px;
  position: absolute;
  left: 1124px;
  top: 708px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-97 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 88px;
  height: 32px;
  position: absolute;
  left: 1124px;
  top: 778px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-98 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 88px;
  height: 32px;
  position: absolute;
  left: 1124px;
  top: 848px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-99 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 88px;
  height: 32px;
  position: absolute;
  left: 1124px;
  top: 918px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.edit2 {
  color: #383b47;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1148px;
  top: 363px;
  width: 42px;
  height: 24px;
}
.edit3 {
  color: #383b47;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1148px;
  top: 782px;
  width: 42px;
  height: 24px;
}
.edit4 {
  color: #383b47;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1148px;
  top: 852px;
  width: 42px;
  height: 24px;
}
.edit5 {
  color: #383b47;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1148px;
  top: 922px;
  width: 42px;
  height: 24px;
}
.edit6 {
  color: #383b47;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1148px;
  top: 431px;
  width: 42px;
  height: 24px;
}
.edit7 {
  color: #383b47;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1148px;
  top: 502px;
  width: 42px;
  height: 24px;
}
.edit8 {
  color: #383b47;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1147px;
  top: 572px;
  width: 42px;
  height: 24px;
}
.edit9 {
  color: #383b47;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1146px;
  top: 642px;
  width: 42px;
  height: 24px;
}
.edit10 {
  color: #383b47;
  text-align: right;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1146px;
  top: 712px;
  width: 42px;
  height: 24px;
}
.group-info {
  position: absolute;
  inset: 0;
}
.frame-1707482010 {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 35px;
  position: absolute;
  left: 32px;
  top: 365px;
}
.rectangle-62 {
  background: #d9d9d9;
  align-self: stretch;
  flex-shrink: 0;
  height: 35px;
  position: relative;
}
.rectangle-63 {
  background: #d9d9d9;
  align-self: stretch;
  flex-shrink: 0;
  height: 35px;
  position: relative;
}
.rectangle-64 {
  background: #d9d9d9;
  align-self: stretch;
  flex-shrink: 0;
  height: 35px;
  position: relative;
}
.rectangle-65 {
  background: #d9d9d9;
  align-self: stretch;
  flex-shrink: 0;
  height: 35px;
  position: relative;
}
.rectangle-66 {
  background: #d9d9d9;
  align-self: stretch;
  flex-shrink: 0;
  height: 35px;
  position: relative;
}
.rectangle-67 {
  background: #d9d9d9;
  align-self: stretch;
  flex-shrink: 0;
  height: 35px;
  position: relative;
}
.rectangle-68 {
  background: #d9d9d9;
  align-self: stretch;
  flex-shrink: 0;
  height: 35px;
  position: relative;
}
.rectangle-69 {
  background: #d9d9d9;
  align-self: stretch;
  flex-shrink: 0;
  height: 35px;
  position: relative;
}
.rectangle-70 {
  background: #d9d9d9;
  align-self: stretch;
  flex-shrink: 0;
  height: 35px;
  position: relative;
}
.frame-1707482011 {
  display: flex;
  flex-direction: column;
  gap: 51px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 119px;
  top: 368px;
}
.rectangle-53 {
  background: #d9d9d9;
  border-radius: 10px;
  flex-shrink: 0;
  width: 325px;
  height: 18px;
  position: relative;
}
.rectangle-61 {
  background: #d9d9d9;
  border-radius: 10px;
  align-self: stretch;
  flex-shrink: 0;
  height: 18px;
  position: relative;
}
.rectangle-612 {
  background: #d9d9d9;
  border-radius: 10px;
  flex-shrink: 0;
  width: 276px;
  height: 18px;
  position: relative;
}
.rectangle-613 {
  background: #d9d9d9;
  border-radius: 10px;
  flex-shrink: 0;
  width: 325px;
  height: 18px;
  position: relative;
}
.rectangle-614 {
  background: #d9d9d9;
  border-radius: 10px;
  flex-shrink: 0;
  width: 252px;
  height: 18px;
  position: relative;
}
.rectangle-615 {
  background: #d9d9d9;
  border-radius: 10px;
  flex-shrink: 0;
  width: 340px;
  height: 18px;
  position: relative;
}
.rectangle-73 {
  background: #d9d9d9;
  border-radius: 10px;
  flex-shrink: 0;
  width: 252px;
  height: 18px;
  position: relative;
}
.rectangle-80 {
  background: #d9d9d9;
  border-radius: 10px;
  flex-shrink: 0;
  width: 325px;
  height: 18px;
  position: relative;
}
.rectangle-81 {
  border-radius: 0px;
  width: 252px;
  height: 18px;
  position: absolute;
  left: 497.5px;
  top: 365px;
  overflow: visible;
}
.rectangle-82 {
  border-radius: 0px;
  width: 252px;
  height: 18px;
  position: absolute;
  left: 497.5px;
  top: 439px;
  overflow: visible;
}
.rectangle-83 {
  border-radius: 0px;
  width: 252px;
  height: 18px;
  position: absolute;
  left: 497.5px;
  top: 506px;
  overflow: visible;
}
.rectangle-84 {
  border-radius: 0px;
  width: 252px;
  height: 18px;
  position: absolute;
  left: 497.5px;
  top: 577px;
  overflow: visible;
}
.rectangle-85 {
  border-radius: 0px;
  width: 252px;
  height: 18px;
  position: absolute;
  left: 497.5px;
  top: 647px;
  overflow: visible;
}
.rectangle-86 {
  border-radius: 0px;
  width: 252px;
  height: 18px;
  position: absolute;
  left: 497.5px;
  top: 718px;
  overflow: visible;
}
.rectangle-87 {
  border-radius: 0px;
  width: 252px;
  height: 18px;
  position: absolute;
  left: 497.5px;
  top: 789px;
  overflow: visible;
}
.rectangle-88 {
  border-radius: 0px;
  width: 252px;
  height: 18px;
  position: absolute;
  left: 497.5px;
  top: 859px;
  overflow: visible;
}
.rectangle-892 {
  border-radius: 0px;
  width: 252px;
  height: 18px;
  position: absolute;
  left: 497.5px;
  top: 930px;
  overflow: visible;
}
.participation-buttons {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 249px;
  height: 32px;
  position: absolute;
  left: 803px;
  top: 358px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-822 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 249px;
  height: 32px;
  position: absolute;
  left: 803px;
  top: 428px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-832 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 249px;
  height: 32px;
  position: absolute;
  left: 803px;
  top: 498px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-842 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 249px;
  height: 32px;
  position: absolute;
  left: 803px;
  top: 568px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-852 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 249px;
  height: 32px;
  position: absolute;
  left: 803px;
  top: 638px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-862 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 249px;
  height: 32px;
  position: absolute;
  left: 803px;
  top: 708px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-872 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 249px;
  height: 32px;
  position: absolute;
  left: 803px;
  top: 778px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-882 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 249px;
  height: 32px;
  position: absolute;
  left: 803px;
  top: 848px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-893 {
  background: #c9f0ff;
  border-radius: 50px;
  width: 249px;
  height: 32px;
  position: absolute;
  left: 803px;
  top: 918px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.participation-details {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 820px;
  top: 362px;
  width: 215px;
  height: 24px;
}
.participation-details2 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 821px;
  top: 712px;
  width: 215px;
  height: 24px;
}
.participation-details3 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 821px;
  top: 781px;
  width: 215px;
  height: 24px;
}
.participation-details4 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 820px;
  top: 852px;
  width: 215px;
  height: 24px;
}
.participation-details5 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 821px;
  top: 570px;
  width: 215px;
  height: 24px;
}
.participation-details6 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 820px;
  top: 432px;
  width: 215px;
  height: 24px;
}
.participation-details7 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 821px;
  top: 502px;
  width: 215px;
  height: 24px;
}
.participation-details8 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 820px;
  top: 642px;
  width: 215px;
  height: 24px;
}
.participation-details9 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 820px;
  top: 922px;
  width: 215px;
  height: 24px;
}
