.ranking-leaderboards-progress-dashboard-admin,
.ranking-leaderboards-progress-dashboard-admin * {
  box-sizing: border-box;
}
.ranking-leaderboards-progress-dashboard-admin {
  background: #f5f5f5;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.navigaiton {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 801px;
  position: absolute;
  left: 412px;
  top: 32px;
}
.frame-1707482039 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.navigaiton2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sections {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.profile {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.dashboard {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.group {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.workout-log {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.schedule {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.challenges {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.posts {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.logout-button {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 190.96px;
  position: absolute;
  left: 1233.04px;
  top: 29px;
}
.logout-button2 {
  background: #2e419e;
  border-radius: 20px;
  padding: 13px 38px 13px 36px;
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 46px;
  position: relative;
}
.logout {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.vector {
  flex-shrink: 0;
  width: 25.87px;
  height: 12.48px;
  position: relative;
  overflow: visible;
}
.logo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 393px;
  position: absolute;
  left: 22px;
  top: -5px;
}
.frame-1707482034 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo3 {
  flex-shrink: 0;
  width: 93px;
  height: 93px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.rectangle-25 {
  background: linear-gradient(
    90deg,
    rgba(46, 65, 158, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  flex-shrink: 0;
  width: 244px;
  height: 12px;
  position: relative;
}
.collect-data-button {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 468px;
  position: absolute;
  left: 129px;
  top: 731px;
}
.frame-1707482037 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.collect-data-button2 {
  background: #c9f0ff;
  border-radius: 50px;
  padding: 20px 95px 19px 82px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 99px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.collect-data {
  color: #383b47;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: relative;
}
.moedration-button {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 468px;
  position: absolute;
  left: 820px;
  top: 731px;
}
.frame-1707482038 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.moderation-button {
  background: #c9f0ff;
  border-radius: 50px;
  padding: 20px 102px 19px 90px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 99px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.moderation {
  color: #383b47;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: relative;
}
.select-one {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 282px;
  position: absolute;
  left: 105px;
  top: 585px;
}
.frame-1707482036 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.select-one-text {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.select-one2 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: relative;
}
.your-dashboard-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 572px;
  position: absolute;
  left: 30px;
  top: 169px;
}
.your-dashboard-text2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.dashboard-text {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.your-dashboard {
  color: #383b47;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 62px;
  font-weight: 600;
  position: relative;
}
.admin-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1241px;
  position: absolute;
  left: 66px;
  top: 311px;
}
.your-name-info {
  padding: 47px 59px 47px 59px;
  display: flex;
  flex-direction: row;
  gap: 49px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 246px;
  position: relative;
}
.frame-1707482033 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1221px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-37 {
  background: #d9d9d9;
  border-radius: 15px;
  align-self: stretch;
  flex-shrink: 0;
  height: 226px;
  position: relative;
}
.ellipse-8 {
  flex-shrink: 0;
  width: 166px;
  height: 144px;
  position: relative;
  overflow: visible;
  object-fit: cover;
}
.your-name-info2 {
  flex-shrink: 0;
  width: 217px;
  height: 77px;
  position: static;
}
.admin-name {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 274px;
  top: 84.5px;
}
.email-gmail-com {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 274px;
  top: 131.5px;
}
