.profile-management-admin,
.profile-management-admin * {
  box-sizing: border-box;
}
.profile-management-admin {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-1707482020 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 251px;
  position: absolute;
  left: 66px;
  top: 131px;
}
.my-profile {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.my-profile2 {
  color: #383b47;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
}
.profile-interface {
  position: absolute;
  inset: 0;
}
.rectangle-15 {
  background: #f5f5f5;
  border-radius: 15px;
  width: 940px;
  height: 650px;
  position: absolute;
  left: 250px;
  top: 230px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.your-name-email-gmail-com {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 523px;
  top: 290px;
}
.your-name-email-gmail-com-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.your-name-email-gmail-com-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.ellipse-2 {
  width: 120px;
  height: 117px;
  position: absolute;
  left: 366px;
  top: 260px;
  overflow: visible;
  object-fit: cover;
}
.full-name {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 366px;
  top: 426px;
}
.your-name {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 922px;
  top: 426px;
}
.email {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 366px;
  top: 501px;
}
.email-gmail-com {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 851px;
  top: 501px;
}
.phone-number {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 368px;
  top: 577px;
}
.your-phone-number {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 823px;
  top: 577px;
}
.gender {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 366px;
  top: 649px;
}
.your-gender {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 922px;
  top: 649px;
}
.date-of-birth {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 368px;
  top: 722px;
}
.your-date-of-birth {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 852px;
  top: 722px;
}
.line-265 {
  margin-top: -1px;
  border-style: solid;
  border-color: #c5c5c5;
  border-width: 1px 0 0 0;
  width: 732px;
  height: 0px;
  position: absolute;
  left: 354px;
  top: 403px;
}
.line-266 {
  margin-top: -1px;
  border-style: solid;
  border-color: #c5c5c5;
  border-width: 1px 0 0 0;
  width: 732px;
  height: 0px;
  position: absolute;
  left: 354px;
  top: 478px;
}
.line-267 {
  margin-top: -1px;
  border-style: solid;
  border-color: #c5c5c5;
  border-width: 1px 0 0 0;
  width: 732px;
  height: 0px;
  position: absolute;
  left: 355px;
  top: 555px;
}
.line-268 {
  margin-top: -1px;
  border-style: solid;
  border-color: #c5c5c5;
  border-width: 1px 0 0 0;
  width: 732px;
  height: 0px;
  position: absolute;
  left: 354px;
  top: 629px;
}
.line-269 {
  margin-top: -1px;
  border-style: solid;
  border-color: #c5c5c5;
  border-width: 1px 0 0 0;
  width: 732px;
  height: 0px;
  position: absolute;
  left: 354px;
  top: 699px;
}
.edit-button {
  background: #c9f0ff;
  padding: 7px 60px 8px 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 169px;
  height: 44px;
  position: absolute;
  left: 354px;
  top: 802px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.edit {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.frame-1707482018 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 781px;
  position: absolute;
  left: 422px;
  top: 42px;
}
.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sections {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.profile {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.dashboard {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.group {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.workout-log {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.schedule {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.challenges {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.posts {
  color: #383b47;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.frame-1707482017 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 188px;
  position: absolute;
  left: 1220px;
  top: 31px;
}
.logout-button {
  background: #2e419e;
  border-radius: 20px;
  padding: 3px 32px 3px 19px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 46px;
  position: relative;
}
.frame-1707482009 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.logout {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 16.049999237060547px;
  font-weight: 600;
  position: relative;
}
.vector {
  flex-shrink: 0;
  width: 25.42px;
  height: 12.48px;
  position: relative;
  overflow: visible;
}
.frame-1707482019 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 373px;
  position: absolute;
  left: 32px;
  top: 5px;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo2 {
  flex-shrink: 0;
  width: 93px;
  height: 93px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.rectangle-25 {
  background: linear-gradient(
    90deg,
    rgba(46, 65, 158, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  flex-shrink: 0;
  width: 244px;
  height: 12px;
  position: relative;
}
