<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../Static/CSS/vars.css">
  <link rel="stylesheet" href="../../Static/CSS/AProfilestyle.css">
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="profile-layout container-fluid p-0">
    <div class="row g-0 min-vh-100">
      <aside class="col-12 col-md-3 col-xl-2 sidebar-wrap">
        <div class="sidebar-content">
          <img class="motiv-logo" src="../../Static/Images%201/AProfilemotiv-logo0.png" alt="Motiv logo" />

          <nav class="navigation-bar">
            <a href="ADash.html" class="nav-item-link">
              <img class="nav-icon" src="../../Static/Images%201/AProfilevector0.svg" alt="" />
              <span>Dashboard</span>
            </a>
            <a href="GroupA.html" class="nav-item-link">
              <img class="nav-icon" src="../../Static/Images%201/AProfilevector1.svg" alt="" />
              <span>Groups</span>
            </a>
            <a href="ChallengeA.html" class="nav-item-link">
              <img class="nav-icon" src="../../Static/Images%201/ScheduleAvector2.svg" alt="" />
              <span>Scheduling</span>
            </a>
            <a href="ScheduleA.html" class="nav-item-link">
              <img class="nav-icon" src="../../Static/Images%201/ScheduleAvector3.svg" alt="" />
              <span>Challenges</span>
            </a>
            <a href="PostA.html" class="nav-item-link">
              <img class="nav-icon" src="../../Static/Images%201/AProfilevector4.svg" alt="" />
              <span>Posts</span>
            </a>
            <a href="AProfile.html" class="nav-item-link active">
              <img class="nav-icon" src="../../Static/Images%201/AProfilevector-profile-icon0.svg" alt="" />
              <span>Profile</span>
            </a>
          </nav>
        </div>
      </aside>

      <main class="col-12 col-md-9 col-xl-10 main-wrap">
        <header class="topbar">
          <h1 class="profile-heading">Profile</h1>
          <img class="profile-picture" src="../../Static/Images%201/AProfileprofile-picture0.png" alt="Profile picture" />
        </header>

        <div class="main-canvas">
          <section class="profile-card">
            <div class="card-header-line">
              <h2 class="edit-profile">Edit Profile</h2>
            </div>

            <div class="profile-form-content row g-4">
              <div class="col-12 col-lg-3">
                <div class="profile-image-wrap">
                  <img class="profile-image-1" src="../../Static/Images%201/AProfileprofile-image-10.png" alt="Profile image" />
                  <button class="profile-photo-edit-button" type="button" aria-label="Edit profile photo">
                    <span class="ellipse-29"></span>
                    <img class="pencil-alt-1" src="../../Static/Images%201/AProfilepencil-alt-10.svg" alt="" />
                  </button>
                </div>
              </div>

              <div class="col-12 col-lg-9">
                <form id="a-profile-form" method="post" action="/actions/admin/profile">
                <div class="row g-3">
                  <div class="col-12 col-md-6">
                    <label class="form-label-custom" for="firstName">First Name</label>
                    <input id="firstName" name="first_name" class="form-control custom-input" type="text" value="{{ admin_me.admin_first_name if admin_me else '' }}" />
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="form-label-custom" for="lastName">Last Name</label>
                    <input id="lastName" name="last_name" class="form-control custom-input" type="text" value="{{ admin_me.admin_last_name if admin_me else '' }}" />
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="form-label-custom" for="email">Email</label>
                    <input id="email" name="email" class="form-control custom-input" type="email" value="{{ admin_me.admin_email if admin_me else '' }}" />
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="form-label-custom" for="password">New password (optional)</label>
                    <input id="password" name="password" class="form-control custom-input" type="password" placeholder="Leave blank to keep current" autocomplete="new-password" />
                  </div>
                </div>
                </form>

                <div class="save-button-wrap">
                  <button type="submit" form="a-profile-form" class="save-button border-0">Save</button>
                  <form action="/auth/logout" method="post" class="a-profile-logout-form">
                    <button type="submit" class="save-button save-button--secondary">Log out</button>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
  </div>
</body>
</html>