<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../Static/CSS/vars.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../Static/CSS/edit-workout-logging-GA.css">
  <title>Edit Workout Exercise</title>
</head>
<body>
  <div class="ewlga-layout container-fluid p-0">
    <div class="row g-0 min-vh-100">
      <aside class="col-12 col-md-3 col-xl-2 ewlga-sidebar">
        <div class="ewlga-sidebar-inner">
          <img class="ewlga-logo" src="../../Static/images/EWLGAmotiv-logo1.png" alt="Motiv logo" />
          <nav class="ewlga-nav" aria-label="Main navigation">
            <a href="GADash.html" class="ewlga-nav-link"><img class="ewlga-nav-icon" src="../../Static/images/EWLGAvector0.svg" alt="" /><span>Dashboard</span></a>
            <a href="created-groups-GA.html" class="ewlga-nav-link"><img class="ewlga-nav-icon" src="../../Static/images/EWLGAvector1.svg" alt="" /><span>Groups</span></a>
            <a href="scheduling-GA.html" class="ewlga-nav-link"><img class="ewlga-nav-icon" src="../../Static/images/EWLGAvector2.svg" alt="" /><span>Scheduling</span></a>
            <a href="created-challenges-GA.html" class="ewlga-nav-link"><img class="ewlga-nav-icon" src="../../Static/images/EWLGAvector3.svg" alt="" /><span>Challenges</span></a>
            <a href="post-GA.html" class="ewlga-nav-link"><img class="ewlga-nav-icon" src="../../Static/images/EWLGAvector4.svg" alt="" /><span>Posts</span></a>
            <a href="workout-history-GA.html" class="ewlga-nav-link active"><img class="ewlga-nav-icon" src="../../Static/images/EWLGAvector-log0.svg" alt="" /><span>Workout Log</span></a>
            <a href="profile-GA.html" class="ewlga-nav-link"><img class="ewlga-nav-icon" src="../../Static/images/EWLGAvector-profile-icon0.svg" alt="" /><span>Profile</span></a>
          </nav>
        </div>
      </aside>

      <div class="col-12 col-md-9 col-xl-10 ewlga-main d-flex flex-column">
        <header class="ewlga-topbar">
          <h1 class="ewlga-page-title">Workout Log</h1>
          <div class="ewlga-topbar-actions">
            <a href="notifications-GA.html" class="ewlga-notify-btn" aria-label="Notifications">
              <span class="ewlga-notify-bg"></span>
              <img class="ewlga-notify-icon" src="../../Static/images/EWLGA_002-notification-10.svg" alt="" />
            </a>
            <img class="ewlga-avatar" src="../../Static/images/EWLGAprofile-picture1.png" alt="Profile picture" />
          </div>
        </header>

        <div class="ewlga-main-canvas flex-grow-1">
          <section class="ewlga-card">
            <div class="ewlga-tabs">
              <span class="ewlga-tab active">Workout Details</span>
              <span class="ewlga-tab">Performance Metrics</span>
            </div>

            <form class="ewlga-form" action="#" method="post">
              <div class="row g-4">
                <div class="col-12 col-xl-6">
                  <label class="ewlga-label" for="ewlga-date">Date</label>
                  <input id="ewlga-date" class="ewlga-input" type="text" value="25 January 1990" />
                </div>
                <div class="col-12 col-xl-6">
                  <label class="ewlga-label" for="ewlga-sets">Sets</label>
                  <input id="ewlga-sets" class="ewlga-input" type="text" value="3" />
                </div>

                <div class="col-12 col-xl-6">
                  <label class="ewlga-label" for="ewlga-exercise">Exercise Name</label>
                  <input id="ewlga-exercise" class="ewlga-input" type="text" value="Sit-ups" />
                </div>
                <div class="col-12 col-xl-6">
                  <label class="ewlga-label" for="ewlga-reps">Reps</label>
                  <input id="ewlga-reps" class="ewlga-input" type="text" value="10" />
                </div>

                <div class="col-12 col-xl-6">
                  <label class="ewlga-label" for="ewlga-duration">Duration (minutes)</label>
                  <input id="ewlga-duration" class="ewlga-input" type="text" value="30" />
                </div>
                <div class="col-12 col-xl-6">
                  <label class="ewlga-label" for="ewlga-weight">Weights</label>
                  <input id="ewlga-weight" class="ewlga-input" type="text" value="5" />
                </div>

                <div class="col-12 col-xl-6">
                  <label class="ewlga-label" for="ewlga-difficulty">Difficulty Level</label>
                  <input id="ewlga-difficulty" class="ewlga-input" type="text" value="Medium" />
                </div>
                <div class="col-12 col-xl-6">
                  <label class="ewlga-label" for="ewlga-challenge">Add to Challenge (optional)</label>
                  <select id="ewlga-challenge" class="ewlga-input ewlga-select">
                    <option selected>Challenge Name</option>
                  </select>
                </div>

                <div class="col-12 col-xl-6">
                  <label class="ewlga-label" for="ewlga-muscle">Muscle Group</label>
                  <input id="ewlga-muscle" class="ewlga-input" type="text" value="Abs" />
                </div>
              </div>

              <div class="ewlga-actions">
                <a href="workout-details-GA.html" class="ewlga-btn ewlga-btn--primary">Save</a>
                <a href="workout-details-GA.html" class="ewlga-btn ewlga-btn--secondary">Cancel</a>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</body>
</html>