.index-1-1,
.index-1-1 * {
  box-sizing: border-box;
}
.index-1-1 {
  background: rgba(255, 255, 255, 0.75);
  height: 1175px;
  position: relative;
  overflow: hidden;
}
.left-side-colors {
  height: auto;
  position: absolute;
  left: -334px;
  top: -128px;
  overflow: visible;
}
.create-account-now-button {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 884px;
  top: 905px;
}
.create-account-now-text {
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.create-account-now-text-span {
  color: #7c838a;
}
.create-account-now-text-span2 {
  color: #000000;
}
.create-account-now-text-span3 {
  color: #0000ff;
}
.login-button {
  background: #2e419e;
  border-radius: 10px;
  padding: 11px 56px 13px 71px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 332px;
  height: 68.85px;
  position: absolute;
  left: 932px;
  top: 791px;
}
.login-text {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 26px;
  font-weight: 500;
  position: relative;
}
.email-and-password-input {
  display: flex;
  flex-direction: column;
  gap: 46px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 610px;
  position: absolute;
  left: 795px;
  top: 480.76px;
}
.email-input {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.email-text {
  color: #7c838a;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  width: 56.93px;
  height: 34.42px;
}
.input-frame-1 {
  background: rgba(176, 186, 195, 0.4);
  border-radius: 20px;
  flex-shrink: 0;
  width: 610px;
  height: 74.58px;
  position: relative;
}
.enter-your-email-here-text {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 40.67px;
  top: 53.93px;
  width: 213.5px;
  height: 34.42px;
}
.password-input {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.password-text {
  color: #7c838a;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  width: 99.63px;
  height: 34.42px;
}
.input-frame-2 {
  background: rgba(176, 186, 195, 0.4);
  border-radius: 20px;
  flex-shrink: 0;
  width: 610px;
  height: 74.58px;
  position: relative;
}
.enter-your-password-here-text {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 40.67px;
  top: 53.93px;
  width: 256.2px;
  height: 34.42px;
}
.logo-and-welcome-text {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  width: 338px;
  position: absolute;
  left: 922px;
  top: 92px;
}
.motiv-logo {
  flex-shrink: 0;
  width: 246px;
  height: 246px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.welcome-text {
  color: #000000;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 45px;
  
}
.row {
  position: relative;
}

.col-md-6 {
  position: relative;
}
